.homepage {
  
  .banner {
    padding-top: 45px;
    width: 100%;
    height: 850px;
    background: linear-gradient(90deg, #090909 0%, rgba(0, 0, 0, 0) 90%),
      linear-gradient(180deg, #0b0b0b 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(92.66deg, #7e1292 2.16%, #2a49c0 168.56%);

    .row {
      margin: 0px 12vw;
      padding: auto;
      position: relative;
      z-index: 0;
      top: 220px;

      .sub-title {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 9px;
      }

      h1 {
        color: white;
        font-size: clamp(36px, 5.972vw, 70px);
        line-height: 115%;
        font-family: auto;
        font-weight: 700;
      }

      .blog-description {
        
        p {
          font-size: clamp(18px, 1.528vw, 22px);
          line-height: 130%;
          color: #ffffff;
          max-width: 710px;
          margin-bottom: 29px;
        }
      }

      .btn-register {
        background-color: #8835f4;
        color: #ffffff;
        width: 15em;
        height: 3.5em;
        border: 2px solid black;
        border-top-left-radius: 46px;
        border-top-right-radius: 46px;
        border-bottom-right-radius: 46px;
        border-bottom-left-radius: 46px;
        font-weight: 500;
      }
    }
  }
}
