.about-course {
  padding-top: 70px;
  
  width: 100%;
  background-color: black;
  .overall-introduction {
    height: 620px;
    background: linear-gradient(90deg, #090909 0%, rgba(0, 0, 0, 0) 90%),
      linear-gradient(180deg, #0b0b0b 0%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(92.66deg, #7e1292 2.16%, #2a49c0 168.56%);

    padding: 0px 12vw;
    padding-top: 120px;
    width: 100%;
    z-index: 0;
    .sub-title {
      color: #ffffff;

      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 9px;
    }

    h1 {
      color: white;
      font-size: clamp(36px, 5.972vw, 56px);
      line-height: 115%;
      font-family: auto;
      font-weight: 700;
    }

    .blog-description {
      margin-top: 50px;
      p {
        font-size: clamp(18px, 1.528vw, 18px);
        line-height: 130%;
        color: #ffffff;
        max-width: 710px;
        margin-bottom: 29px;
      }
    }
  }

  .ab-information {
    width: 100%;
    color: #ffffff;
    padding: 75px 12vw;
    background-color: #161616;

    .sub-title {
      color: #ffffff;
      width: 30vw;
      border-bottom: 1px solid #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 9px;
    }

    .ab-header {
      padding-top: 20px;
    }
  }
}
