.section_padding {
  padding: 4rem 4 rem;
}
.footer {
  background-color: #304146;
}
.sb_footer {
  display: flex;
  flex-direction: column;
}
.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding-top:1rem;
  padding-left: 10rem;
  padding-bottom: 1rem;
  padding-right: 10rem;
}

.sb_footer-links-div {
  width: 24%;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}


a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}
.sb_footer-links-div h4 {
  font-size: 19px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}
.sb_footer-links-div p {
  font-size: 16px;
  line-height: 20px;
  margin: 0, 5rem 0;
  cursor: pointer;
}

.sb_footer-below {
  display: flex;

  justify-content: center;
  margin-top: 0.2rem;
}

hr {
  color: white !important;
  width: 100%;
}
.sb__footer-copyright {
  font-size: 17px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  
}


#social_media .social_media_list img {
  display: inline-block;
}


@media screen and (max-width: 650px) {
  .sb_footer-heading h1 {
      font: size 44px;
      line-height: 50px;
  }
  .sb_footer-links {
      padding-left: 1rem;
      padding-bottom: 1rem;
  }

  .sb_footer-links-div {
      width: 100% !important;
      margin-left: 10rem;
  }
  .sb_footer-below {
      justify-content: center;
  }
  
}

@media screen and (max-width: 1250px) {
  .sb_footer-heading h1 {
      font: size 44px;
      line-height: 50px;
  }
  .sb_footer-links {
      padding-left: 3rem;
      padding-bottom: 1rem;
      padding-right: 2rem;
  }

  .sb_footer-links-div {
      width: 250px;
  }

  .sb_footer-links div {
      margin: 1rem;
  }

  .sb_footer-below {
      justify-content: center;
  }
  
}
