.nav-header {
  z-index: 1;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0px;
  a {
    color: white;

    
  }

  .logo-course {
    margin-left: 60px;
    margin-right: 100px;
    font-weight: 800;
    font-size: 30px !important;
    font-family: math;

    &:hover {
      color: white !important;
    }
  }

  .navigation-home, .navigation-about, .navigation-news, .navigation-register{
    color:white !important;
    font-size: 17px;
    margin-left: 30px;
    font-weight: 400;

    &:hover {
      color: #8835f4 !important;
    }
  }

  

  .navbar-toggler {
    background-color: #222222;
    border: 2px solid white;
    position: absolute;
    right: 17px;
    top: 16px;
  }

  .navbar-toggler-icon {
      background-image: url(../../assets/menu_icon.jpg);
      
  }
}
